body{
    background-color: rgb(254, 251, 252);
}
.home {
    text-align: center;
    margin-top: 70px;
  }
  .home h1{
    color: rgb(54, 5, 5);
    font-family: sans-serif;
    font-size: 32px;
  }
  .home p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(22, 51, 195);
  }
  .features {
    display: flex;
    justify-content: space-around;
    margin:50px;
  }
  
  .feature-1 ,.feature-2{
    border: 3px solid rgb(239, 161, 6);
    width: 45%;
    padding: 45px;
    border-radius: 8px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.2);;

  }
  .feature-1  h2,
  .feature-2 h2 {
    color: #007bff;
    font-size: 29px;
  }
  .feature-1  p,
  .feature-2 p {
    color: rgb(87, 60, 4);
  }
  