.navbar {
    background-color: #333;
    padding: 25px;
    color: white;
}

.nav-links{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.nav-links li {
    margin: 0;
    font-size: 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: underline;
    background:#007bff;
    padding: 10px;
    border-radius: 5px;
    color:  #000;
    font-weight: 400;
}